*,*::before,*::after{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
.swiper-container.loading{
  opacity: 0;
  visibility: hidden;
}
.swiper-container.swiper-container-coverflow{
  padding-top: 2%;
  
}
.swiper-button-prev{
  transform: translateX(50px);
}
.swiper-button-next{
  transform: translateX(-50px);
}
/* 属性选择器 ^开始符 $结束符 *包含符*/
[class^="swiper-button-"]{
  opacity: 0;
  visibility: hidden;
  width: 44px;
  transition: add .3s ease;
}
.swiper-container:hover [class^="swiper-button-"]{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.swiper-slide .content{
  position:absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title{
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption{
  display: block;
  line-height: 1.4;
  font-size: 13px;
}
.swiper-container{
  width: 100%;
  height: 28vw;
}
/* pagination */
.swiper-pagination-bullet{
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #fff;
}